<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>操作日志</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script th:src="@{/static/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/static/js/common.js}"></script>
</head>
<body>
<div class="layui-form-item" style="margin-top: 50px;margin-left: 30px;margin-bottom: 60px">

    <label class="layui-form-label">操作人：</label>
    <div class="layui-input-inline">
        <input class="layui-input" name="nameInput" id="nameInput" autocomplete="off">
    </div>

    <label class="layui-form-label">操作类型：</label>
    <div class="layui-input-inline">
        <div class="layui-form">
            <select name="typeSelect" lay-verify="" lay-filter="test" id="typeSelect">
                <option value="">请选择</option>
                <option value="0">登入</option>
                <option value="1">用户管理</option>
                <option value="2">任务清单</option>
                <option value="3">权限管理</option>
                <option value="4">系统信息</option>
            </select>
        </div>
    </div>

    <button id="reloadBtn" class="layui-btn" data-type="reload">搜索</button>
</div>

<table class="layui-hide" id="test" lay-filter="operationLog"></table>

<script type="text/javascript" th:inline="none">
    layui.use(['table', 'form'], function () {
        var table = layui.table,
            form = layui.form;

        table.render({
            elem: '#test'
            , url: parent.ueditorPath + '/amg/log/v1?accessToken=' + accessToken + '&terminal=pc'
            , parseData: function (res) {
                if (res.code != 200){
                    skipLogin(res.code,res.message);
                }
                return {
                    "code": res.code,
                    "msg": res.message,
                    "data": res.data.records,
                    "count": res.data.total
                }
            }
            , response: {
                statusCode: 200
            }
            , cols: [[
                {field: 'operationName', title: '操作人'}
                , {field: 'operationTime', title: '操作时间'}
                , {field: 'typeName', title: '操作类型'}
                , {field: 'remark', title: '操作备注'}
                , {field: 'elapsedTime', title: '耗时（秒）'}
            ]]
            , page: true
            , id: 'testReload'
        });

        //搜索
        $("#reloadBtn").click(function (ev) {
            var nameInput = $("#nameInput").val();
            var typeSelect = $("#typeSelect").val();
            table.reload('testReload', {
                url: parent.ueditorPath + '/amg/log/v1'
                , where: {
                    name: nameInput,
                    accessToken: accessToken,
                    type: typeSelect,
                    terminal: 'pc'
                } //设定异步数据接口的额外参数
            });
        });
    });
</script>

</body>
</html>