<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script th:src="@{/static/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/static/js/common.js}"></script>
</head>
<body>

<div class="layui-form" style="margin-top: 30px">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">新密码：</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="newPassword"
                       id="newPassword" lay-verify="newPassword" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">确认新密码：</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="confirmNewPassword"
                       id="confirmNewPassword" lay-verify="confirmNewPassword" autocomplete="off">
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="submit" lay-submit lay-filter="submit" class="layui-btn layui-btn-normal layui-btn-radius">确认</button>
            <button id="cancel" class="layui-btn layui-btn-radius">取消</button>
        </div>
    </div>

</div>

<script>

    layui.use(['element', 'layer', 'util', 'laydate', 'form'], function () {
        var element = layui.element
            , layer = layui.layer
            , util = layui.util
            , form = layui.form
            , laydate = layui.laydate
            , $ = layui.$;

        //取消
        $("#cancel").on("click", function () {
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);
        });

        //监听提交
        form.on('submit(submit)', function (data) {
            $.ajax({
                type: "post",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'accessToken': accessToken,
                    'terminal': 'pc'
                },
                url: parent.ueditorPath + "/amg/auth/v1/update-password",
                data: JSON.stringify(data.field),
                success: function (data) {
                    if (data.code == 200) {
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                        window.parent.location.reload();

                        //跳转登入页
                        window.parent.location.href = parent.ueditorPath + "/login";
                    } else {
                        skipLogin(data.code, data.message);
                    }
                }
            });
            return false;
        });
        //自定义验证规则
        form.verify({
            newPassword: [
                /^[\S]{6,12}$/
                , '新密码必须6到12位，且不能出现空格'
            ],
            confirmNewPassword: [
                /^[\S]{6,12}$/
                , '确认新密码必须6到12位，且不能出现空格'
            ]
        });
    });

</script>
</body>
</html>